#index {
    background-image: url(../image/index.png);
    background-position: bottom center;
}

.navbar a {
    margin: 50px;
}

.entre { 
    background-color: rgb(151, 80, 0);
}

.enter {
    background-color: rgb(151, 80, 0);
}

#burger {
    background-color: black;
}

@media (max-width: 600px) {
    h1 {
        font-size: 12px;
    }

}

.menu {
    background-color: white;
}


#dejeuner {
    background-image: url(../image/bgdejeuner.png);
}

.bottom{
    opacity: 0;
    z-index: 1;
}

img.top.img-fluid {
    position: absolute;
    top: 0;
    left: 0;
}

.burgers:hover .bottom{    position:absolute;
    left:0;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;}

    img.top {
        position: absolute;
        top: 0;
        left: 0;
